:root {
  --pager-item-size: 50px;
}

.wrapper {
  clear: both;
  margin: 8rem auto 0;
  padding-bottom: 8rem;
  text-align: center;
  font-size: 0;
}

.item,
.number {
  display: inline-block;
  vertical-align: middle;
}

.item {
  position: relative;
  width: var(--pager-item-size);
  height: var(--pager-item-size);
  background: transparent;
  border-radius: 50%;
  text-align: center;
  transition-property: color, background;
  transition-duration: 320ms;
  transition-timing-function: var(--ease-out-quint);

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: var(--pager-item-size);
    height: var(--pager-item-size);
    margin-top: calc(var(--pager-item-size) / 2 * -1);
    margin-left: calc(var(--pager-item-size) / 2 * -1);
    border-radius: 50%;
    transition-property: all;
    transition-timing-function: var(--ease-out-quint);
    content: '';
  }

  &::before {
    border: 2px solid var(--color-text);
    transition-duration: 0.5s;
  }

  &::after {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.2);
    transition-duration: 0.25s;
  }

  &.isPrevious svg {
    margin-left: -9px;
  }

  &.isNext svg {
    margin-left: -7px;
  }

  &:hover[href],
  &:focus-visible[href] {
    text-decoration: none;

    &::before {
      opacity: 0;
      transform: scale(1.2);
    }

    &::after {
      background: var(--color-text);
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    & svg {
      transform: scale(0.85);
    }

    & path {
      fill: var(--color-background);
    }
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -8px;
    transition: all 0.5s var(--ease-out-quint);
  }

  & path {
    fill: var(--color-text);
    transition: all 0.5s var(--ease-out-quint);
  }

  &:not([href]) {
    &::before {
      border-color: var(--color-gray);
    }

    & path {
      fill: var(--color-gray);
    }
  }
}

.number {
  margin: 0 1rem;
  font-size: 1rem;
  font-family: var(--font-accent);
}
