---
layout: page
title: ARCHIVES
sub_title: List all posts
excerpt: これまでwadackel.meで投稿した全ての記事を紹介します。
permalink: /archives/
---

{% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
    <section class="archives">
      <h2 class="archives__year" id="ref-{{ this_year }}">{{this_year}}</h2>
      <ul class="archives__list">
  {% endif %}
        <li class="archives__item">
          <h3 class="archives__item__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p class="archives__item__meta"><time class="archives__item__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time><span class="archives__item__category">{{ post.categories }}</p>
        </li>
  {% if forloop.last %}
      </ul>
    </section>
  {% else %}
    {% if this_year != next_year %}
      </ul>
    </section>
    <section class="archives">
      <h2 class="c-archives__year" id="{{ next_year }}-ref">{{next_year}}</h2>
      <ul class="c-archives__list">
    {% endif %}
  {% endif %}
{% endfor %}
