// comment
.hljs-comment,
.hljs-quote {
  color: #5c636c;
}

// red
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #e06d70;
}

// orange
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #e5bf76;
}

// yellow
.hljs-attribute {
  color: #f0c674;
}

// green
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #00ae82;
}

// blue
.hljs-title,
.hljs-section {
  color: #4dadbe;
}

// purple
.hljs-keyword,
.hljs-selector-tag {
  color: #c67cd5;
}

// base
.hljs {
  display: block;
  color: #abb2c0;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  color: #fff;
}
