.wrapper {
  position: relative;
  z-index: 10000;
  margin-bottom: $footer-height;
  box-shadow: 0 8px 12px rgba(0, 0, 0, .2);
  background: $color-bg;

  @include mq-medium {
    margin-bottom: 0;
  }
}

.contents {
  overflow-x: hidden;
  overflow-y: visible;
}

.container {
  width: $container-width;
  margin-right: auto;
  margin-left: auto;

  @include mq-medium {
    width: auto;
    padding-right: $screen-padding;
    padding-left: $screen-padding;
  }

  @include mq-small {
    padding-right: $screen-padding-sm;
    padding-left: $screen-padding-sm;
  }
}
