$container-width   : 820px;
$footer-height     : 500px;

$screen-padding    : 30px;
$screen-padding-sm : 15px;
$mq-large-min      : 1300px;
$mq-large-max      : $mq-large-min + 1;
$mq-medium-min     : $container-width + $screen-padding * 2;
$mq-medium-max     : $mq-medium-min + 1;
$mq-small-min      : 768px;
$mq-small-max      : $mq-small-min + 1;

$color-primary     : #00c795;
$color-secondary   : #1b2937;
$color-gray        : #B5B5B5;
$color-bg          : #fff;
$color-base        : $color-secondary;
$color-link        : darken($color-primary, 10%);
$color-link-hover  : darken($color-primary, 0);

$font-size         : 18px;
$font-size-sm      : 16px;
$font-family       : Avenir, "Lucida Grande", "Helvetica Neue", "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
$font-family-code  : Osaka-mono, "Osaka-等幅", Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-accent: "Caveat", cursive;
$line-height       : 1.8;

$scrollbar-color   : darken(#fff, 45%);
$scrollbar-bg      : lighten($scrollbar-color, 30%);
$scrollbar-width   : 10px;
$scrollbar-height  : 5px;
$scrollbar-radius  : 0;
