.wrapper {
  width: var(--container-width-xs);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--outside-gutter-width-xs);
  padding-left: var(--outside-gutter-width-xs);

  @media (--viewport-sm) {
    width: var(--container-width-sm);
    padding-right: var(--outside-gutter-width-sm);
    padding-left: var(--outside-gutter-width-sm);
  }

  @media (--viewport-md) {
    width: var(--container-width-md);
    padding-right: var(--outside-gutter-width-md);
    padding-left: var(--outside-gutter-width-md);
  }

  @media (--viewport-lg) {
    width: var(--container-width-lg);
    padding-right: var(--outside-gutter-width-lg);
    padding-left: var(--outside-gutter-width-lg);
  }

  @media (--viewport-xl) {
    width: var(--container-width-xl);
    padding-right: var(--outside-gutter-width-xl);
    padding-left: var(--outside-gutter-width-xl);
  }
}
