<footer class="footer">
  <div class="footer__inner">
    <div class="footer__icon">{% include svg/logo.html %}</div>
    <p class="footer__author--jp">{{ site.author.jp }}</p>
    <p class="footer__author--en">{{ site.author.en }}</p>
    <p class="footer__description">{{ site.author.description }}</p>
    <ul class="footer__social">
      <li class="footer__social__item"><a href="https://twitter.com/{{ site.twitter_username }}">{% include svg/twitter.html %}</a></li>
      <li class="footer__social__item"><a href="https://github.com/{{ site.github_username }}">{% include svg/github.html %}</a></li>
      <li class="footer__social__item"><a href="http://cloud.feedly.com/#subscription%2Ffeed%2F{{ site.url }}">{% include svg/feedly.html %}</a></li>
      <li class="footer__social__item"><a href="{{ '/feed.xml' | prepend: site.baseurl }}">{% include svg/feed.html %}</a></li>
    </ul>
    <p class="footer__copyright">© {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </div>
</footer>
