<header class="header">
  {% if page.layout == "default" %}
    <h1 class="header__logo"><a href="{{ '/' | prepend: site.baseurl}}">{% include svg/logo_hover.html %}<span>{{ site.title }}</span></a></h1>
  {% else %}
    <p class="header__logo"><a href="{{ '/' | prepend: site.baseurl}}">{% include svg/logo_hover.html %}<span>{{ site.title }}</span></a></p>
  {% endif %}
  <nav class="gnav" data-gnav>
    <ul class="gnav__list">
      <li class="gnav__item"><a href="{{ '/' | prepend: site.baseurl}}"><span class="gnav__item__icon">{% include svg/home.html %}</span><span class="gnav__item__text">HOME</span></a></li>
      <li class="gnav__item"><a href="{{ '/archives/' | prepend: site.baseurl}}"><span class="gnav__item__icon">{% include svg/archive.html %}</span><span class="gnav__item__text">ARCHIVES</span></a></li>
      <li class="gnav__item"><a href="http://photographic.wadakel.me"><span class="gnav__item__icon">{% include svg/camera.html %}</span><span class="gnav__item__text">PHOTOGRAPHIC</span></a></li>
    </ul>
    <button class="gnav__toggle" type="button" data-gnav-trigger>
      <span class="gnav__toggle__bar"></span>
      <span class="gnav__toggle__bar"></span>
      <span class="gnav__toggle__bar"></span>
    </button>
    <div class="gnav__bg"></div>
  </nav>
</header>
