{% if page.previous.url or page.next.url %}
<div class="post-pager">
  {% if page.next.url %}
  <a class="post-pager__item--next" href="{{ page.next.url | prepend: site.baseurl }}">
    <span class="post-pager__item__label">Newer Post</span>
    <span class="post-pager__item__title">{{ page.next.title | truncatewords: 4 }}</span>
    {% if page.next.image and page.next.image != site.image %}
      <span class="post-pager__item__image" style="background-image: url({{ page.next.image | prepend: site.baseurl }})"></span>
    {% endif %}
  </a>
  {% else %}
  <span class="post-pager__item--next post-pager__item--disabled"></span>
  {% endif %}
  {% if page.previous.url %}
  <a class="post-pager__item--prev" href="{{ page.previous.url | prepend: site.baseurl }}">
    <span class="post-pager__item__label">Older Post</span>
    <span class="post-pager__item__title">{{ page.previous.title | truncatewords: 4}}</span>
    {% if page.previous.image and page.previous.image != site.image %}
      <span class="post-pager__item__image" data-src="background-image: url({{ page.previous.image | prepend: site.baseurl }})"></span>
    {% endif %}
  </a>
  {% else %}
  <span class="post-pager__item--prev post-pager__item--disabled"></span>
  {% endif %}
</div>
{% endif %}
