.footer {
  position: relative;
  z-index: 1;
  height: var(--footer-height);
  padding: 0 3rem;
  background: url('/images/footer_bg.jpg') 0 0;
  background-size: 95px 95px;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (--viewport-md) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.footer__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__icon {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  background: #fff;
  border: 4px solid lighten(var(--color-secondary, 10%));
  border-radius: 50%;
  text-align: center;

  & svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 64px;
    height: auto;
    margin: auto;
    fill: var(--color-primary);
    transform: translate(-7px, -2px);
  }
}

.footer__author--jp {
  margin: 0;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-size: 1rem;
}

.footer__author--en {
  margin: 0;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-size: 0.88rem;
  font-family: var(--font-family-accent);
}

.footer__description {
  margin: 0.5em auto;
  font-size: 0.77rem;
}

.footer__social {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.footer__social__item {
  display: inline-block;
  margin: 0;

  & a {
    display: block;
    padding: 8px;

    &:hover,
    &:focus {
      & path {
        fill: var(--color-primary);
        transform: scale(0.9);
      }
    }
  }

  & svg {
    width: auto;
    height: 20px;
  }

  & path {
    fill: #fff;
    transform-origin: 50% 50%;
    transition: all 0.4s var(--ease-out-quint);
  }
}

.footer__copyright {
  margin: 0 auto;
  font-size: 0.88rem;
  font-family: var(--font-family-accent);
  letter-spacing: 0.07em;
}
