.header {
  position: relative;
  z-index: 10000;
  padding: 8rem 0;
  font-size: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header__logo {
  display: inline-block;
  height: 60px;
  margin: 0;
  line-height: 0;
  font-size: 0;
  vertical-align: bottom;

  & svg,
  & a {
    transition-property: color, fill;
    transition-duration: 750ms;
    transition-timing-function: var(--ease-out-quint);
  }

  & svg {
    width: 60px;
    height: 44px;
    fill: var(--color-primary);

    @media (--viewport-md) {
      width: 90px;
      height: 63px;
    }
  }

  & a {
    display: block;
    color: var(--color-primary);
    text-decoration: none;
  }

  & span {
    position: relative;
    top: -0.2em;
    margin: 0 0 0 0.2em;
    font-size: 1.4rem;
    font-family: var(--font-family-accent);
    line-height: 1;

    @media (--viewport-md) {
      font-size: 2rem;
    }
  }

  &:hover,
  &:focus {
    & svg {
      fill: var(--color-link);
    }

    & a {
      color: var(--color-link);
    }
  }
}
