.pagetop {
  clear: both;
  margin: 0 auto;
  border-top: 1px solid var(--color-divider);
  text-align: center;
  font-size: 0;
  line-height: 1;

  & a {
    display: block;
    padding: 1rem 0;
    transition-property: color, background;
    transition-duration: 440ms;
    transition-timing-function: var(--ease-out-quint);

    & path {
      fill: var(--color-text);
    }

    &:hover,
    &:focus {
      background: var(--color-text);

      & path {
        fill: var(--color-background);
      }
    }
  }

  & svg {
    width: 26px;
    height: auto;
  }

  & path {
    fill: var(--color-secondary);
  }
}
