@import './normalize.css';
@import './variables.css';
@import './easings.css';
@import './highlight.css';

::selection {
  background-color: var(--selection-background);
}

::-moz-selection {
  background-color: var(--selection-background);
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 3px solid var(--focus-color);
  outline-offset: 1px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--font-sans-serif);
  font-weight: 500;
  line-height: var(--line-height-base);
  letter-spacing: 0.05em;
}

body {
  position: relative;
  min-width: 320px;
  background: var(--color-background);
  word-wrap: break-word;

  @media (--viewport-md) {
    word-wrap: normal;
  }
}

h1 {
  font-weight: normal;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--ease-out-quint);

  &:hover {
    color: var(--color-link-enter);
    text-decoration: none;
  }

  &:focus-visible {
    text-decoration: none;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-monospace);
}

code {
  display: inline-block;
  margin: 0 0.15em;
  padding: 0.08em 0.3em;
  color: var(--color-code-text);
  background-color: var(--color-code-background);
  border-radius: 2px;
  font-size: 0.77em;
  font-weight: normal;
}

pre {
  position: relative;
  display: block;
  tab-size: 4;
  hyphens: none;
  word-wrap: normal;

  & ::-webkit-scrollbar {
    width: calc(var(--scrollbar-width) / 2);
    background: var(--scrollbar-background);
    z-index: 10;

    &:hover {
      background: var(--scrollbar-background-enter);
    }

    /* stylelint-disable-next-line */
    &:horizontal {
      height: var(--scrollbar-height);
    }

    @media (--viewport-md) {
      width: var(--scrollbar-width);
    }
  }

  & ::-webkit-scrollbar-track {
    border-radius: var(--scrollbar-radius);
  }

  & ::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-radius);
    background: var(--scrollbar-color);
  }
}
