@custom-media --viewport-sm (min-width: 567px);
@custom-media --viewport-md (min-width: 768px);
@custom-media --viewport-lg (min-width: 992px);
@custom-media --viewport-xl (min-width: 1200px);

:root {
  /* Container width */
  --container-width-xs: auto;
  --container-width-sm: 520px;
  --container-width-md: 720px;
  --container-width-lg: 850px;
  --container-width-xl: 850px;

  /* Gutter width */
  --gutter-width-xs: 20px;
  --gutter-width-sm: 20px;
  --gutter-width-md: 30px;
  --gutter-width-lg: 30px;
  --gutter-width-xl: 30px;

  /* Outside gutter width */
  --outside-gutter-width-xs: 16px;
  --outside-gutter-width-sm: 16px;
  --outside-gutter-width-md: 16px;
  --outside-gutter-width-lg: 16px;
  --outside-gutter-width-xl: 16px;
  --footer-height: 500px;

  /* Colors */
  --color-primary: #00c795;
  --color-primary-dark: #008666;
  --color-secondary-lightest: #283d52;
  --color-secondary-lighter: #344f6a;
  --color-secondary: #1b2937;
  --color-secondary-dark: #0b141d;
  --color-gray-lightest: #f0f0f0;
  --color-gray-lighter: #dedede;
  --color-gray: #b5b5b5;
  --color-gray-dark: #767676;
  --color-background: #fff;
  --color-divider: #dbdbdb;
  --color-text: var(--color-secondary);
  --color-link: var(--color-primary-dark);
  --color-link-enter: var(--color-primary);
  --color-code-text: var(--color-text);
  --color-code-background: var(--color-gray-lightest);
  --color-code-block-background: var(--color-secondary);
  --color-kbd-text: var(--color-text);
  --color-kbd-border: #e9e9e9;
  --color-kbd-background: #f5f5f5;
  --color-kbd-shadow-inset: #e5e5e5;
  --color-kbd-shadow-from: #e7e7e7;
  --color-kbd-shadow-to: #afafaf;
  --color-twitter: #55acee;
  --color-facebook: #315096;
  --color-hatena: #008fde;
  --color-pocket: #ef4456;
  --color-feedly: #6cc655;

  /* Typography */
  --font-sans-serif: Avenir, 'Lucida Grande', 'Helvetica Neue', '游ゴシック',
    'YuGothic', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, sans-serif;
  --font-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  --font-accent: 'Caveat', serif;
  --font-size-10: calc(10 / 16 * 1rem);
  --font-size-12: calc(12 / 16 * 1rem);
  --font-size-14: calc(14 / 16 * 1rem);
  --font-size-16: 1rem;
  --font-size-18: calc(18 / 16 * 1rem);
  --font-size-20: calc(20 / 16 * 1rem);
  --font-size-22: calc(22 / 16 * 1rem);
  --font-size-24: calc(24 / 16 * 1rem);
  --font-size-28: calc(28 / 16 * 1rem);
  --font-size-30: calc(30 / 16 * 1rem);
  --font-size-36: calc(36 / 16 * 1rem);
  --line-height-base: 1.8;

  /* Focus */
  --focus-color: rgba(141, 202, 253, 0.5);

  /* Selection */
  --selection-background: rgba(0, 0, 0, 0.1);
  --selection-background-invert: rgba(255, 255, 255, 0.1);

  /* Scrollbars */
  --scrollbar-color: #ccc;
  --scrollbar-background: #f2f2f2;
  --scrollbar-background-enter: #ebebeb;
  --scrollbar-width: 10px;
  --scrollbar-height: 5px;
  --scrollbar-radius: 0;

  /* Depth */
  --depth-page: 2;
  --depth-footer: 1;
}
