{{ partial "header.html" . }}

<div class="container">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post__header">
      <h1 class="post__title" itemprop="name headline">{{ .Title }}</h1>
      <p class="post__meta"><span class="post__date">Published <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ .Date.Format "January 02, 2006" }}</time></span><span class="post__category">{{ range .Params.categories }}<a href="/categories/{{ . }}">{{ . }}</a>{{ end }}</span></p>
    </header>
    <div class="post__content" itemprop="articleBody">
      {{ .Content }}
    </div>
  </article>

  {{ partial "share.html" . }}
</div>

{{ partial "post_pager.html" . }}
{{ partial "footer.html" . }}
