---
import RootLayout from '../layouts/RootLayout.astro';
import { site } from '../config';
---

<style>
  .title {
    @apply leading-normal font-normal;
    font-size: 1.625rem;

    @screen md {
      font-size: 1.875rem;
    }
  }
</style>

<RootLayout type="404" title={`404 Page not found - ${site.title}`} description={site.description}>
  <div class="container pb-32">
    <div class="text-center">
      <h1 class="title">404 - Page not found</h1>
      <p class="mt-4 text-xs md:text-sm">Sorry this page does not exist</p>
    </div>

    <p class="mt-20 text-center">
      お探しのページは一時的にアクセスができない状況にあるか、削除・変更された可能性があります。
    </p>

    <p class="mt-4 text-center">
      <a href="/">トップページへ戻る</a>
    </p>
  </div>
</RootLayout>
