{{ partial "header.html" . }}

<div class="container">
  <article class="post">
    <header class="post__header">
      <h1 class="post__title">{{ .Title }}</h1>
      <p class="post__meta">{{ .Params.subtitle }}</p>
    </header>
    <div class="post__content">
      <section class="archives">
        {{/* TODO: refactor */}}
        {{ $.Scratch.Set "tmpYear" "" }}
        {{ range where .Site.Pages "Section" "post" }}
          {{ if eq ($.Scratch.Get "tmpYear") (.Date.Format "2006") }}
          {{ else }}
            <h2 class="archives__year">{{ .Date.Format "2006" }}</h2>
          {{ end }}
          {{ $.Scratch.Set "tmpYear" (.Date.Format "2006") }}

          <div class="archives__item">
            <h3 class="archives__item__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p class="archives__item__meta"><time class="archives__item__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02" }}</time><span class="archives__item__category">{{ range .Params.categories }}<a href="/categories/{{ . }}">{{ . }}</a>{{ end }}</span></p>
          </div>
        {{ end }}
      </section>
    </div>
  </article>
</div>

{{ partial "footer.html" . }}
