.wrapper {
  padding: 8rem 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-size: 1rem;
  line-height: 0;

  & a {
    display: inline-flex;
    align-items: flex-end;
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      color: var(--color-primary-dark);
    }
  }
}

.logo_icon {
  width: 60px;

  @media (--viewport-md) {
    width: 90px;
  }
}

.logo_typography {
  margin-left: 0.2em;
  line-height: 1;
  font-family: var(--font-accent);
  font-size: var(--font-size-22);

  @media (--viewport-md) {
    font-size: var(--font-size-36);
  }
}
