---
import type { MarkdownPostData } from '../types';

export type Props = {
  previous: MarkdownPostData | null;
  next: MarkdownPostData | null;
};

const { previous, next } = Astro.props;
---

<style>
  .item {
    @apply p-4 text-secondary-500;

    &[href] {
      @apply no-underline transition duration-300 ease-out-quint;

      &:hover {
        @apply text-secondary-500 bg-secondary-500;

        & .item_label {
          @apply text-primary-500;
        }

        & .item_title {
          @apply text-white;
        }
      }
    }

    @screen md {
      @apply p-8;
    }
  }

  .item_label {
    @apply block font-accent text-xs text-secondary-400;

    @screen md {
      @apply text-base;
    }
  }

  .item_title {
    @apply block text-sm line-clamp-2;

    @screen md {
      @apply text-xl;
    }
  }
</style>

<nav class="grid grid-cols-2 border-t border-t-slate-300" aria-label="前後記事のナビゲーション">
  {
    next != null ? (
      <a class="item text-right" href={next.url}>
        <span class="item_label">Newer Post</span>
        <span class="item_title">{next.frontmatter.title}</span>
      </a>
    ) : (
      <span class="item" />
    )
  }

  {
    previous != null ? (
      <a class="item text-left border-l border-l-slate-300" href={previous.url}>
        <span class="item_label">Older Post</span>
        <span class="item_title">{previous.frontmatter.title}</span>
      </a>
    ) : (
      <span class="item border-l border-l-slate-300" />
    )
  }
</nav>
