    </main>
    <p class="pagetop"><a href="#" data-scroll>{{ partial "svg/arrow_top.html" }}</a></p>
  </div>

  <footer class="footer">
    <div class="footer__inner">
      <div class="footer__icon">{{ partial "svg/logo.html" }}</div>
      <p class="footer__author--jp">{{ .Site.Params.author.jp }}</p>
      <p class="footer__author--en">{{ .Site.Params.author.en }}</p>
      <p class="footer__description">{{ .Site.Params.author.description }}</p>
      <ul class="footer__social">
        <li class="footer__social__item"><a href="https://twitter.com/{{ .Site.Params.twitter }}">{{ partial "svg/twitter.html" }}</a></li>
        <li class="footer__social__item"><a href="https://github.com/{{ .Site.Params.github }}">{{ partial "svg/github.html" }}</a></li>
        <li class="footer__social__item"><a href="http://cloud.feedly.com/#subscription%2Ffeed%2F{{ .Site.BaseURL }}">{{ partial "svg/feedly.html" }}</a></li>
        <li class="footer__social__item"><a href="{{ .Site.RSSLink }}">{{ partial "svg/feed.html" }}</a></li>
      </ul>
      <p class="footer__copyright">&copy; {{ .Site.LastChange.Format "2006" }} {{ .Site.Title }}</p>
    </div>
  </footer>

  <script src="/js/vendor/highlight.pack.js"></script>
  <script src="/js/app.bundle.js"></script>
</body>
</html>
