      <footer role="contentinfo">
        <div class="footer-link">
          {{ with .Site.Params.email }}<a href="mailto:{{ . }}" target="_blank">Email</a>{{ end }}
          {{ with .Site.Params.twitter }}<a href="{{ . }}" target="_blank">Twitter</a>{{ end }}
          {{ with .Site.Params.facebook }}<a href="{{ . }}" target="_blank">Facebook</a>{{ end }}
          {{ with .Site.Params.github }}<a href="{{ . }}" target="_blank">GitHub</a>{{ end }}
        </div>
        <div class="copyright">Copyright &copy; {{ .Site.Title | safeHTML }}</div>
      </footer>
    </div>

    <!-- <script src="/highlight/highlight.pack.js"></script> -->
    <script>// hljs.initHighlightingOnLoad();</script>
  </body>
</html>
