<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <header role="banner">
        <div class="header-logo">
          <a href="/">{{ .Site.Title }}</a>
        </div>
        {{ if eq $isHomePage true }}<h1 class="site-title">{{ .Site.Title }}</h1>{{ end }}
      </header>
