{{ if ne .Paginator.TotalPages 1 }}
<div class="pager" role="pagination">
  {{ if .Paginator.HasPrev }}
    <a class="pager__item--prev" href="{{ .Paginator.Prev.URL }}" title="Articles new">{{ partial "svg/arrow_left.html" }}</a>
  {{ else }}
    <span class="pager__item--prev pager__item--disabled">{{ partial "svg/arrow_left.html" }}</span>
  {{ end }}
  <span class="pager__number">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
  {{ if .Paginator.HasNext }}
    <a class="pager__item--next" href="{{ .Paginator.Next.URL }}" title="Articles old">{{ partial "svg/arrow_right.html" }}</a>
  {{ else }}
    <span class="pager__item--next pager__item--disabled">{{ partial "svg/arrow_right.html" }}</span>
  {{ end }}
{{ end }}
