{{ if or .PrevInSection .NextInSection }}
<div class="post-pager">
  {{ if .NextInSection }}
    <a class="post-pager__item post-pager__item--next" href="{{ .NextInSection.Permalink }}">
      <span class="post-pager__item__label">Newer Post</span>
      <span class="post-pager__item__title">{{ .NextInSection.Title }}</span>
      {{ if .NextInSection.Params.image }}
        <span class="post-pager__item__image" style="background-image: url({{ .NextInSection.Params.image }})"></span>
      {{ end }}
    </a>
  {{ else }}
    <span class="post-pager__item post-pager__item--next post-pager__item--disabled"></span>
  {{ end }}

  {{ if .PrevInSection }}
    <a class="post-pager__item post-pager__item--prev" href="{{ .PrevInSection.Permalink }}">
      <span class="post-pager__item__label">Older Post</span>
      <span class="post-pager__item__title">{{ .PrevInSection.Title }}</span>
      {{ if .PrevInSection.Params.image }}
        <span class="post-pager__item__image" style="background-image: url({{ .PrevInSection.Params.image }})"></span>
      {{ end }}
    </a>
  {{ else }}
    <span class="post-pager__item post-pager__item--prev post-pager__item--disabled"></span>
  {{ end }}
</div>
{{ end }}
