.gnav {
  @include fixed(auto, 0, 0, auto, 10000);
  @include font-smoothing(true);
  font-size: 1rem;
  text-align: left;

  @include e(list) {
    @include absolute(auto, 30px, 30px, auto, 5);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include e(item) {
    $_size: 60px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.000,0.630,0.335,1.465);
    .is-gnav-open & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translate(0, 0) !important;
    }
    &:nth-child(1) {
      top: -240px;
      right: 0;
      transform: translate(0, 180px);
      transition-duration: .4s;
    }
    &:nth-child(2) {
      top: -165px;
      right: 75px;
      transform: translate(75px, 105px);
      transition-duration: .5s;
    }
    &:nth-child(3) {
      top: -60px;
      right: 90px;
      transform: translate(90px, 0);
      transition-duration: .6s;
    }
    a {
      display: block;
      &:hover {
        transform: scale(1.1, 1.1);
        transition: all .3s cubic-bezier(0.000,0.630,0.335,1.465);
        .gnav__item__icon {
          background-color: lighten($color-primary, 8%);
          box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
        }
        .gnav__item__text {
          color: #fff;
        }
      }
    }
    @include e(icon) {
      @include absolute(0, 0, 0);
      display: block;
      width: $_size;
      height: $_size;
      background: $color-primary;
      border-radius: 50%;
      transform: scale(.1, .1);
      transition: all .8s $ease-out-quint;
      svg {
        @include absolute(0, 0, 0, 0);
        width: 22px;
        height: auto;
        margin: auto;
        fill: $color-secondary;
      }
      .is-gnav-open & {
        transform: scale(1, 1);
      }
    }
    @include e(text) {
      display: block;
      padding: 0 $_size + 10px 0 0;
      color: #bbb;
      font-size: .66rem;
      line-height: $_size;
      text-align: right;
      opacity: 0;
      visibility: hidden;
      transition: all .7s $ease-out-quint;
      .is-gnav-open & {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @include e(toggle) {
    $_size: 60px;
    @include absolute(auto, 30px, 30px, auto, 10);
    display: block;
    width: $_size;
    margin: 0;
    height: $_size;
    padding: 0;
    background: #fff;
    border: 1px solid $color-gray;
    border-radius: 50%;
    transition: all .3s cubic-bezier(0.000,0.630,0.335,1.465);
    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
      border-color: lighten($color-gray, 15%);
      .gnav__toggle__bar {
        background-color: darken($color-gray, 15%);
        &:nth-child(1) {
          transform: translate(0, 2px);
        }
        &:nth-child(3) {
          transform: translate(0, -2px);
        }
      }
    }
    @include e(bar) {
      position: absolute;
      left: 50%;
      z-index: 5;
      display: block;
      width: 26px;
      height: 2px;
      margin: 0 0 0 -13px;
      background: $color-gray;
      transition: all .3s $ease-out-quint;
      $_start: 20px;
      $_step: 8px;
      @for $i from 0 through 3 {
        &:nth-child(#{$i + 1}) {
          top: $_start + $_step * $i;
        }
      }
      .is-gnav-open &:nth-child(1) {
        transform: translate(0, 8px) rotate(225deg) !important;
      }
      .is-gnav-open &:nth-child(3) {
        transform: translate(0, -8px) rotate(135deg) !important;
      }
      .is-gnav-open &:nth-child(2) {
        opacity: 0;
      }
    }
    .is-gnav-open & {
      transform: scale(.8, .8);
    }
  }

  @include e(bg) {
    $_size: 660px;
    @include absolute(auto, -$_size / 2, -$_size / 2, 1);
    width: $_size;
    height: $_size;
    opacity: 0;
    visibility: hidden;
    background: rgba($color-secondary, .99);
    border-radius: 50%;
    transform: translate(20px, 30px) scale(.2, .1) skew(15deg, 45deg);
    transition: all .4s $ease-out-quint;
    .is-gnav-open & {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0) scale(1, 1) skew(0, 0);
    }
  }
}
