.logo {
  @include e(tail) {
    transform-origin: 100% 2%;
    .is-hover & {
      animation: logo-tail 800ms ease-in-out alternate;
    }
  }
}

@keyframes logo-tail {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: translate(10%, 2%) rotate(40deg);
  }
  35% {
    transform: translate(10%, 2%) rotate(20deg);
  }
  50% {
    transform: translate(14%, 2%) rotate(40deg);
  }
  85% {
    transform: translate(-2%, 0) rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
