.pager {
  clear: both;
  margin: 8rem auto;
  text-align: center;
  font-size: 0;

  @include e(item, number) {
    display: inline-block;
    vertical-align: middle;
  }

  @include e(item) {
    $_size: 50px;
    position: relative;
    width: $_size;
    height: $_size;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    transition: all .3s $ease-out-quint;
    svg {
      @include absolute(50%, auto, auto, 50%, 1);
      width: 10px;
      height: 16px;
      margin-top: -8px;
      transition: all .5s $ease-out-quint;
    }
    path {
      fill: $color-secondary;
      transition: all .5s $ease-out-quint;
    }
    &::before,
    &::after {
      @include absolute(50%, auto, auto, 50%, 0);
      content: "";
      width: $_size;
      height: $_size;
      margin-top: -$_size / 2;
      margin-left: -$_size / 2;
      border-radius: 50%;
      transition-property: all;
      transition-timing-function: $ease-out-quint;
    }
    &::before {
      border: 2px solid $color-secondary;
      transition-duration: .5s;
    }
    &::after {
      opacity: 0;
      visibility: hidden;
      transform: scale(.2, .2);
      transition-duration: .25s;
    }
    &:hover:not(.pager__item--disabled) {
      &::before {
        opacity: 0;
        transform: scale(1.2, 1.2);
      }
      &::after {
        background: $color-secondary;
        opacity: 1;
        visibility: visible;
        transform: scale(1, 1);
      }
      svg {
        transform: scale(.85, .85);
      }
      path {
        fill: #fff;
      }
    }
    @include m(prev) {
      @extend .pager__item;
      svg {
        margin-left: -6px;
      }
    }
    @include m(next) {
      @extend .pager__item;
      svg {
        margin-left: -4px;
      }
    }
    @include m(disabled) {
      &::before {
        border-color: $color_gray;
      }
      path {
        fill: $color-gray;
      }
    }
  }

  @include e(number) {
    margin: 0 1rem;
    font-size: .88rem;
    font-family: $font-family-accent;
  }
}
