.post {
  margin-right: auto;
  margin-left: auto;

  @include e(header) {
    margin: 0 0 5rem;
  }

  @include e(title, meta) {
    text-align: center;
  }

  @include e(title) {
    margin: 0 0 .2em;
    font-size: 1.55rem;
    font-weight: normal;
    line-height: 1.6;
    a {
      color: inherit;
      &:hover {
        color: $color-link;
      }
    }
  }

  @include e(meta) {
    margin: 0;
    font-size: .55rem;
  }

  @include e(time) {
  }

  @include e(category) {
    &::before {
      content: "/";
      display: inline;
      margin: 0 .5em;
    }
  }

  @include e(excerpt) {
    margin: 1.4rem 0 0;
    font-size: .77rem;
  }

  @include e(content) {
    margin: 0 auto 10rem;

    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.4;
    }

    h2 {
      margin: 4em auto 1.2em;
      font-size: 1.4rem;
      font-weight: normal;
      text-align: center;
      &::after {
        content: "";
        display: block;
        width: 113px;
        height: 9px;
        margin: 9px auto 0;
        background: url("../images/h2_after.png") no-repeat center center;
        background-size: 113px auto;
      }
    }

    h3,
    h4,
    h5,
    h6 {
      margin: 2em auto .6em;
    }

    h3 {
      font-size: 1.23rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    h5,
    h6 {
      font-size: 1rem;
    }

    p {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    a img {
      transition: all .4s $ease-out-quint;
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .6);
      }
    }

    ul,
    ol {
      margin: 1.5rem auto;
      padding: 0 0 0 1.5em;
      ul,
      ol {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    blockquote {
      margin: 1.5rem auto;
      padding: 1em 1.5em;
      border-left: 4px solid darken(#fff, 15%);
      color: darken(#fff, 45%);
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
      &.twitter-tweet {
        padding: 0;
        border: none;
      }
    }

    table {
      width: 100%;
      margin: 1.5rem auto;
      border-collapse: collapse;
      font-size: .88em;
      line-height: 1.4;
      th,
      td {
        padding: .6em .8em;
        border: 1px solid darken(#fff, 15%);
        background: #fff;
      }
      thead {
        th,
        td {
          border-bottom-width: 2px;
        }
      }
      tbody tr:nth-child(odd) {
        th,
        td {
          background-color: darken(#fff, 3%);
        }
      }
    }

    hr {
      display: block;
      width: 100%;
      height: 0;
      margin: 5rem 0;
      border-width: 1px 0 0 0;
      border-style: dashed;
      border-color: darken(#fff, 15%);
    }

    kbd {
      $_color: #f5f5f5;
      display: inline-block;
      min-width: 3em;
      margin: 0 .4em;
      padding: .5em 1em;
      background: $_color;
      border-top: 1px solid darken($_color, 5%);
      border-radius: 3px;
      box-shadow: 0 0 1em darken($_color, 7%) inset, 0 1px 0 darken($_color, 10%), 0 2px 0 darken($_color, 10%), 0 2px 2px darken($_color, 40%);
      color: darken($_color, 50%);
      text-shadow: 0 1px 0 #fff;
      font-size: .88em;
      font-weight: normal;
      font-family: $font-family-code;
      text-align: center;
    }

    pre {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      > code {
        display: block;
        margin: 0;
        background-color: transparent;
        font-size: .82em;
        line-height: 1.6;
      }
    }

    .twitter-tweet {
      margin: 1.5rem auto !important;
    }
  }
}
