.wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--depth-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
  background: url('./bg.jpg') 0 0;
  background-size: 95px 95px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & ::selection {
    background-color: var(--selection-background-invert);
  }

  & ::-moz-selection {
    background-color: var(--selection-background-invert);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #fff;
}

.icon {
  position: relative;
  left: -5px;
  width: 63px;
  color: var(--color-primary);
}

.author {
  margin: 20px 0 0.5em;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.2;

  & span {
    display: block;
  }

  & span:nth-child(1) {
    font-size: var(--font-size-16);
  }

  & span:nth-child(2) {
    font-family: var(--font-accent);
    font-size: var(--font-size-14);
  }

  @media (--viewport-md) {
    & span:nth-child(1) {
      font-size: var(--font-size-18);
    }

    & span:nth-child(2) {
      font-family: var(--font-accent);
      font-size: var(--font-size-16);
    }
  }
}

.summary {
  font-size: var(--font-size-12);

  @media (--viewport-md) {
    font-size: var(--font-size-14);
  }
}

.social {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  list-style: none;

  & a {
    display: block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    line-height: 1;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.copyright {
  font-family: var(--font-accent);
  font-size: var(--font-size-14);
  letter-spacing: 0.07em;

  @media (--viewport-md) {
    font-size: var(--font-size-16);
  }
}
