---
layout: default
---
<div class="container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post__header">
      <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post__meta"><time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time><span class="post__category">{{ page.categories }}</span></p>
    </header>
    <div class="post__content" itemprop="articleBody">
      {{ page.content }}
    </div>
  </article>

  {% include share.html %}
</div>

{% include post_pager.html %}
